<a href="https://colab.research.google.com/github/indranil046/4-febasian/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
1:import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)


series

SyntaxError: invalid syntax (<ipython-input-1-b51aedc4f300>, line 1)

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)


series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
series_from_list = pd.Series(my_list)
series_from_list

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

In [9]:
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#A Pandas Series is like a single column of data.

#A Pandas DataFrame is a collection of multiple Series arranged in a table format
#data = [4, 8, 15, 16, 23, 42]
#series = pd.Series(data)
#this is pandas series
#data = {
#    "Name": ["Alice", "Bob", "Claire"],
#    "Age": [25, 30, 27],
#   "Gender": ["Female", "Male", "Female"]
#}
#this is pandas data frame

In [12]:
#head() / tail()
#Returns the first or last N rows
#info()
#Check for missing values and data types

In [13]:
#series,dataframe,panel are mutable nature

In [14]:
import pandas as pd

# Creating multiple Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Creating a DataFrame using the Series
df_from_series = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Displaying the DataFrame
df_from_series

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
import pandas as pd

# Creating multiple Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Creating a DataFrame from the Series
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Displaying the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
import pandas as pd

# Creating multiple Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Creating a DataFrame from the Series
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Displaying the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female