<a href="https://colab.research.google.com/github/indranil046/4-febasian/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##SQL ASSIGNMENT:
1:A database is a structured collection of data that is stored electronically.
2:SQL databases use SQL (Structured Query Language).
NoSQL databases use JSON (JavaScript Object Notation), XML, YAML, or
binary schema, facilitating unstructured data.
SQL has a fixed-defined schema, while NoSQL databases are more flexible.
3:DML stands for Data Manipulation Language, and it's a set of SQL commands used
 to manipulate data within a database, including adding, updating, and deleting records.
Example: If you have a table called Customers with columns CustomerID, FirstName,
and LastName, you could insert a new customer like this:
INSERT INTO Customers (CustomerID, FirstName, LastName) VALUES (1, 'RAHUL', 'RAM');
4:DQL stands for Data Query Language and is a subset of SQL used for retrieving
data from a database. The primary command in DQL is SELECT, which allows you to
extract specific columns and rows based on specified criteria
Example:
Let's say you have a table named Customers with columns CustomerID, Name, City,
and Age.
To retrieve all the data from the Customers table, you would use the following
SELECT statement:
SELECT *
FROM Customers;
SELECT Name, City
FROM Customers;
SELECT Name, City
FROM Customers
WHERE City = "New York";
5:In relational databases, a primary key uniquely identifies each row in a table,
while a foreign key establishes a link between two tables by referencing the
primary key of another table
6:cursor.execute(operation, params=None)
iterator = cursor.execute(operation, params=None)
iterator = cursor.execute(operation, params=None, multi=True)
7:The order of execution of SQL clauses is: FROM, JOIN (if present), WHERE,
GROUP BY, HAVING, SELECT, DISTINCT (if present), ORDER BY, and finally LIMIT/OFFSET